PORT=6000
OPENROUTER_KEY=""
OPENROUTER_MODEL="nex-agi/nex-n2.5-pro:free"

DATABASE_URL=mysql://root:root@localhost:8888/playground

SMEE_CLIENT_URL="https://smee.io/Hr6qYQPIsj4avNWM"
WEBHOOK_FORWARD_PROTOCOL="https://localhost:6000/webhook/process"